# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Outlaw/.vs/Outlaw/v15/Browse.VC.db
/Outlaw/.vs/Outlaw/v15/Browse.VC.opendb
Outlaw/.vs/Outlaw/v15/.suo
*.ipch
Outlaw/.vs/Outlaw/v15/.suo
Outlaw/Debug/Outlaw.ilk
Outlaw/Debug/Outlaw.pdb
Outlaw/Outlaw/Debug/vc141.idb
*.pdb
*.idb
*.pdb
*.ilk
Outlaw/.vs/Outlaw/v15/.suo
Outlaw/.vs/Outlaw/v15/.suo
Outlaw/.vs/Outlaw/v15/.suo
*.ilk
*.pdb
*.log
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.lastbuildstate
*.idb
*.pdb
